<html>
    <head>
        <style type="text/css">
            body {
                font-family: Tahoma, Geneva, sans-serif;
            }
            h1 {
                font-size: 3em;
                text-transform: uppercase;
            }
        </style>
        <title>Stuyvote</title>
    </head>
    <body onload="document.osisform.osis.focus()" onmouseup="document.osisform.osis.focus()" oncontextmenu="return false;">
        <div align="center">
            <h1>Stuyvote</h1>
            <h2>Swipe ID card</h2>
            {% if error_message %}<div id="error_message"><p><strong>{{ error_message }}</strong></p></div>
            <script type="text/javascript">setTimeout(function(){document.getElementById('error_message').style.display = 'none'}, 5000);</script>{% endif %}
            <form name="osisform" action="/" method="post">
                {% csrf_token %}
                <input type="text" name="osis" /><br />
                <input type="submit" style="visibility: hidden;" />
            </form>
        </div>
    </body>
</html>
