<html>
    <head>
        <title>Stuyvesant Student Union Elections</title>
    </head>
    <body onload="document.osisform.osis.focus()" onmouseup="document.osisform.osis.focus()" oncontextmenu="return false;" style="font-family: Tahoma, Geneva, sans-serif;">
        <div align="center">
            <h1>Stuyvesant Student Union Elections</h1>
            <h2>Swipe ID card</h2>
            {% if error_message %}<div id="error_message"><p><strong>{{ error_message }}</strong></p></div>
            <script type="text/javascript">setTimeout(function(){document.getElementById('error_message').style.display = 'none'}, 5000);</script>{% endif %}
            <form name="osisform" action="/" method="post">
                {% csrf_token %}
                <input type="text" name="osis" /><br />
                <input type="submit" style="visibility: hidden;" />
            </form>
        </div>
    </body>
</html>
