<html>
    <head>
        <title>Stuyvesant Student Union Elections</title>
        <script type="text/javascript">
            function clearRadios() {
                {% for election in elections %}
                var radio = document.getElementsByName("election_{{ election.id }}");
                for(var i=0; i < radio.length; i++) {
                    radio[i].checked = false;
                }
                {% endfor %}
                return false;
            }
        </script>
    </head>
    <body oncontextmenu="return false;" style="font-family: Tahoma, Geneva, sans-serif;">
        <div align="center">
            <h1>Stuyvesant Student Union Elections</h1>
            <p>If you do not wish to vote in a particular election, leave it blank.</p>
            <form action="/vote/" method="post" name="choices">
                {% csrf_token %}
                <input type="hidden" name="osis" value="{{ osis }}">
                {% for election in elections %}
                <h2>{{ election.name }}</h2>
                {% for candidate in candidates %}
                {% ifequal candidate.election election %}
                <input type="radio" name="election_{{ election.id }}" id="choice_{{ election.id }}_{{ forloop.counter }}" value="{{ candidate.id }}" />
                <label for="choice_{{ election.id }}_{{ forloop.counter }}">{{ candidate.name }}</label><br />
                {% endifequal %}
                {% endfor %}
                {% endfor %}
                <br />
                <button type="button" onclick="clearRadios()">Clear</button>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </body>
</html>
