<html>
    <head>
        <style type="text/css">
            body {
                font-family: Tahoma, Geneva, sans-serif;
            }
            h1 {
                font-size: 3em;
                text-transform: uppercase;
            }
        </style>
        <title>Stuyvote</title>
        <meta http-equiv="refresh" content="2;url=/">
    </head>
    <body oncontextmenu="return false;">
        <div align="center">
            <h1>Stuyvote</h1>
            {% if not candidate_names %}
            <p>You did not vote in any of the elections.</p>
            {% else %}
            <p>You have successfully voted for the following candidates:</p>
            {% for name in candidate_names %}
            {{ name }}<br />
            {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
